@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body {
  background-color: #eedfde;
  font-family: 'Syne+Mono', sans-serif;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

img {
  height: 140px;
  width: 140px;
}

.avatar:nth-child(2) {
  transition-delay: 200ms;
}
.avatar:nth-child(3) {
  transition-delay: 400ms;
}
.avatar:nth-child(4) {
  transition-delay: 600ms;
}
.avatar:nth-child(5) {
  transition-delay: 800ms;
}
